<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52522995198-2eacbd34ho10tounkfh664q0eolfp0u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52522995198-2eacbd34ho10tounkfh664q0eolfp0u3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52522995198-21oj8f9ehsvuu9dh1vi39k6f9gsblr6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl8rmtDKGcekRFjwcVD2_LxWPNEOW8Mak</string>
	<key>GCM_SENDER_ID</key>
	<string>52522995198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>password-manager-6633e</string>
	<key>STORAGE_BUCKET</key>
	<string>password-manager-6633e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52522995198:ios:fe0f5db687bb0103e344af</string>
</dict>
</plist>